.news-card-overview {
  /* height: 10%; */
  margin: 2%;
  border: solid teal 5px;
  border-radius: 3%;
}

.news-card-overview:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: all 0.2s ease-in-out 0s;
}

.info-card-overview {
  background-color: aliceblue;
  opacity: 0.6;
  margin: 25% 2% 0.5% 2%;
}

.info-card-overview:hover {
  background-color: teal;
  opacity: 0.8;
  color: azure;
  opacity: 0.8;
}

.overview-text {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
  padding-top: 5%;
}

.more-info-btn {
  background-color: azure;
  margin-bottom: 2%;
  color: black;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  font-weight: 600;
  border: solid black 3px;
}

.more-info-btn:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: all 0.3s ease-in-out 0s;
  border: none;
  background-color: azure;
  color: teal;
}