.news-categories-form {
  margin-top: 3%;
  width: 50%;
}

.categories-form {
  /* margin-right: 1%; */
  /* display: flex; */
}

.option-style {
  background-color: whitesmoke;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
  padding: 1%;
  margin-right: 4%;
}

.form-btn {
  background-color: whitesmoke;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
  margin-right: 4%;
}
