.news-categories-form {
  margin-top: 3%;
  width: 50%;
}

.option-style {
  background-color: whitesmoke;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
  padding: 1%;
  margin-right: 4%;
}

.form-btn {
  background-color: whitesmoke;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
  margin-right: 4%;
  border-radius: 8%;
}

@media screen and (max-width: 600px) {
  .news-categories-form  {
    /* margin-left: 25%; */
    margin: 3% 0% 5% 25%;
  }
}
