.header {
  display: flex;
  justify-content: space-between;
  background-color: hsl(1, 93%, 32%);
}

h1 {
  /* padding-left: 5%; */
  margin: 1% 1% 2% 0%;
  padding: 3%;
  width: 190%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 400%;
  color: azure;
}

@media screen and (max-width: 950px) {
  .header {
    flex-direction: column;
  }
   h1 {
     margin: 0;
     padding-left: 15%;
     width: 70%;
   }
}