.header {
  display: flex;
  justify-content: space-between;
  background-color: teal;
  border: solid whitesmoke 5px;
  margin-bottom: 1%;
}

h1 {
  /* padding-left: 5%; */
  margin: 1% 1% 2% 0%;
  padding: 3%;
  width: 190%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 400%;
  color: azure;
}