.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-right: 5%;
  margin-top: 1%;
}

.nav-buttons {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 550;
  font-size: 150%;
  color: whitesmoke;
  width: 100%;
  display: inline-block;
  position: relative;
  padding-bottom: 0.50rem;
}

.nav-buttons::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  background-color: whitesmoke;
  transition: width 0.55s ease-out;
}

.nav-buttons:hover::before {
  width: 100%;
  left: auto;
  right: 0;
  cursor: pointer;
}


@media screen and (max-width: 1000px) {
  .nav-bar {
    width: 70%;
    margin-left: 20%;
  }
}

@media screen and (max-width: 700px) {
  .nav-bar {
    flex-direction: column;
    margin-left: 15%;
  }

  .nav-buttons {
    margin: 0;
  }
}