.news-card-detailed {
  grid-column-start: 2;
  background-color: hsl(1, 93%, 32%);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 7%;
  border: solid  hsl(1, 93%, 32%) 5px;
  border-radius: 1%;
  overflow: auto;
}

.news-card-detailed:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out 0s;
}

.img-card-detailed {
  height: auto;
}

.card-detailed-text {
  color: whitesmoke;
  font-size: 120%;
}

.card-detailed-text:hover {
  opacity: 0.70;
}

.card-detailed-btns {
  margin: 2%;
  margin-bottom: 2%;
  color: black;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  font-weight: 600;
  background-color: whitesmoke;
  border-radius: 1%;
}

.card-detailed-btns:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out 0s;
}