.news-card-detailed {
  grid-column-start: 2;
  background-color: whitesmoke;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 7%;
  border: solid teal 5px;
  border-radius: 1%;
  overflow: auto;
  padding-bottom: 5%;
}

.news-card-detailed:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out 0s;
}

.img-card-detailed {
  /* width: 100%; */
  height: auto;
  /* padding: 5%; */
}

.card-detailed-text:hover {
  opacity: 0.70;
}